.no-tasks-found {
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.load-more-tasks {
    text-align: center;
    margin-bottom: 40px;
}
.add-task-container{
    margin: 10px 10px 10px 10px;
}

